@using PortalBiblioteca.Models

@{
    ViewData["Title"] = "Index";
}
@{
    var generos = ViewBag.Message;
}
    <h1 align="center" style="color:white;">Gêneros</h1>

<a asp-action="Create">Nova Entrada</a>

<table>
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Ações</th>
    </tr>
    @for (int i = 0; i < generos.Count; i++)
    {
        <tr>
            <td>@generos[i].Id</td>
            <td>@generos[i].Nome</td>
            <td>
                <a asp-action="Update" asp-route-id="@generos[i].Id">Edit</a> |
                <a asp-action="Detail" asp-route-id="@generos[i].Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@generos[i].Id">Delete</a>
            </td>
        </tr>
    }
</table>