@using PortalBiblioteca.Models

@{
    ViewData["Title"] = "Index";
}
@{
    var livro = ViewBag.Message;
}
<h1>Index</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Titulo</th>
        <th>Numero de Paginas</th>
        <th>Autor</th>
        <th>Editora</th>
        <th>Genero</th>
    </tr>
    <tr>
        <td>@livro.Id</td>
        <td>@livro.Titulo</td>
        <td>@livro.NumeroPaginas</td>
        <td>@livro.AutorId</td>
        <td>@livro.EditoraId</td>
        <td>@livro.GeneroId</td>
    </tr>
</table>

<style>
    table, td, th {
        border: 1px solid black;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        background-color: #6699ff;
        color: white;
        text-align: left;
    }

    tr:hover {
        background-color: #a6a6a6;
    }
</style>