@using PortalBiblioteca.Models

@{
    ViewData["Title"] = "Index";
}
@{
    var emprestimos = ViewBag.Message;
}
<h1>Index</h1>

<a asp-action="Create">Nova Entrada</a>

<table>
    <tr>
        <th>Id</th>
        <th>Livro</th>
        <th>Leitor</th>
        <th>Data Emprestimo</th>
        <th>Data Expiracao</th>
        <th>Data Devolucao</th>
        <th>Ações</th>
    </tr>
    @for (int i = 0; i < emprestimos.Count; i++)
    {
        <tr>
            <td>@emprestimos[i].Id</td>
            <td>@emprestimos[i].LivroId</td>
            <td>@emprestimos[i].LeitorId</td>
            <td>@emprestimos[i].Data_Emprestimo</td>
            <td>@emprestimos[i].Data_Expiracao</td>
            <td>@emprestimos[i].Data_Devolucao</td>
            <td>
                <a asp-action="Update" asp-route-id="@emprestimos[i].Id">Edit</a> |
                <a asp-action="Detail" asp-route-id="@emprestimos[i].Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@emprestimos[i].Id">Delete</a>
            </td>
        </tr>
    }
</table>

<style>
    table, td, th {
        border: 1px solid black;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        background-color: #6699ff;
        color: white;
        text-align: left;
    }

    tr:hover {
        background-color: #a6a6a6;
    }
</style>